.addon-title {
    background-color: #3C486B;
    color: white;
    border-radius: 15px 15px 0px 0px;
    padding-left: 15px;
    font-size: 22px;
    padding-bottom: 5px;
    padding-top: 8px;
    margin-top: 15px;
}

.addon-list {
    display: flex;
    overflow-x: auto;
    width: 400px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;
    cursor: pointer;
}

.card-addon {
    margin-left: 25px;
    box-shadow: 1px 1px 15px black;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    height: auto;
}

.addon-name {
    text-align: center;
}

.addon-price {
    text-align: center;
}