.navbar-head{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    position: fixed;
    top: 0;
    align-items: center;
    width: 100%;
    background-color: #FFEBEB;
}

li{
    list-style-type: none;
    padding: 10px;
}

ul{
    display: flex;
    margin-right: 100px;
}

.menu-title{
    font-size: 25px;
}

.dropdown-toggle{
    background-color: beige;
}



