.item-total-price {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    background-color: pink;
    margin-bottom: 2%;
    padding-right: 3%;
    padding-left: 3%;
}

.checkout-button {
    text-align: center;
    background-color: #3C486B;
    color: white;
    font-size: 23px;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 5px;
    border-radius: 0px 0px 10px 10px;
}

.cakes-info-data{
    border-radius: 5px;
}